USE [master]
GO
/****** Object:  Database [ApplicationServiceDB]    Script Date: 6/23/2025 9:06:48 AM ******/
CREATE DATABASE [ApplicationServiceDB]

GO
USE [ApplicationServiceDB]
GO
/****** Object:  User [sa_swd]    Script Date: 6/23/2025 9:06:49 AM ******/
CREATE USER [sa_swd] FOR LOGIN [sa_swd] WITH DEFAULT_SCHEMA=[sa_swd]
GO
ALTER ROLE [db_owner] ADD MEMBER [sa_swd]
GO
/****** Object:  Schema [sa_swd]    Script Date: 6/23/2025 9:06:49 AM ******/
CREATE SCHEMA [sa_swd]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6/23/2025 9:06:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicationBooking]    Script Date: 6/23/2025 9:06:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationBooking](
	[Id] [uniqueidentifier] NOT NULL,
	[UserFullName] [nvarchar](100) NOT NULL,
	[UserEmail] [nvarchar](100) NOT NULL,
	[UserPhoneNumber] [nvarchar](20) NOT NULL,
	[DateOfBirth] [datetime2](7) NOT NULL,
	[Province] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[School] [nvarchar](150) NOT NULL,
	[GraduationYear] [int] NOT NULL,
	[Campus] [nvarchar](100) NOT NULL,
	[InterestedAcademicField] [nvarchar](100) NOT NULL,
	[MathScore] [int] NOT NULL,
	[EnglishScore] [int] NOT NULL,
	[LiteratureScore] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedByUserId] [uniqueidentifier] NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[ClaimedByConsultantId] [uniqueidentifier] NULL,
	[ClaimedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_ApplicationBooking] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicationBookingHistory]    Script Date: 6/23/2025 9:06:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationBookingHistory](
	[Id] [uniqueidentifier] NOT NULL,
	[Content] [nvarchar](500) NOT NULL,
	[ApplicationBookingId] [uniqueidentifier] NOT NULL,
	[PerformedByUserId] [uniqueidentifier] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[PreviousValue] [nvarchar](1000) NULL,
	[NewValue] [nvarchar](1000) NULL,
 CONSTRAINT [PK_ApplicationBookingHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_ApplicationBookingHistory_ApplicationBookingId]    Script Date: 6/23/2025 9:06:49 AM ******/
CREATE NONCLUSTERED INDEX [IX_ApplicationBookingHistory_ApplicationBookingId] ON [dbo].[ApplicationBookingHistory]
(
	[ApplicationBookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ApplicationBooking] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ApplicationBooking] ADD  DEFAULT (N'Watting') FOR [Status]
GO
ALTER TABLE [dbo].[ApplicationBookingHistory]  WITH CHECK ADD  CONSTRAINT [FK_ApplicationBookingHistory_ApplicationBooking_ApplicationBookingId] FOREIGN KEY([ApplicationBookingId])
REFERENCES [dbo].[ApplicationBooking] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApplicationBookingHistory] CHECK CONSTRAINT [FK_ApplicationBookingHistory_ApplicationBooking_ApplicationBookingId]
GO
USE [master]
GO
