USE [CollegeInfoServiceDB]
GO
/****** Object:  User [sa_swd]    Script Date: 6/17/2025 12:19:53 PM ******/
CREATE USER [sa_swd] FOR LOGIN [sa_swd] WITH DEFAULT_SCHEMA=[sa_swd]
GO
ALTER ROLE [db_owner] ADD MEMBER [sa_swd]
GO
/****** Object:  Schema [sa_swd]    Script Date: 6/17/2025 12:19:53 PM ******/
CREATE SCHEMA [sa_swd]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6/17/2025 12:19:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AcademicFields]    Script Date: 6/17/2025 12:19:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AcademicFields](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_AcademicFields] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Campus]    Script Date: 6/17/2025 12:19:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Campus](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NOT NULL,
	[ContactPhone] [nvarchar](max) NULL,
	[ContactEmail] [nvarchar](max) NULL,
 CONSTRAINT [PK_Campus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CampusAcademicFields]    Script Date: 6/17/2025 12:19:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CampusAcademicFields](
	[CampusId] [uniqueidentifier] NOT NULL,
	[AcademicFieldId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_CampusAcademicFields] PRIMARY KEY CLUSTERED 
(
	[CampusId] ASC,
	[AcademicFieldId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fees]    Script Date: 6/17/2025 12:19:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fees](
	[Id] [uniqueidentifier] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[AcademicYear] [nvarchar](max) NOT NULL,
	[StartSemester] [int] NOT NULL,
	[EndSemester] [int] NOT NULL,
 CONSTRAINT [PK_Fees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpecializationFees]    Script Date: 6/17/2025 12:19:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpecializationFees](
	[SpecializationId] [uniqueidentifier] NOT NULL,
	[FeeId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_SpecializationFees] PRIMARY KEY CLUSTERED 
(
	[SpecializationId] ASC,
	[FeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specializations]    Script Date: 6/17/2025 12:19:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specializations](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CampusAcademicFieldCampusId] [uniqueidentifier] NOT NULL,
	[CampusAcademicFieldAcademicFieldId] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Specializations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [sa_swd].[AcademicFields]    Script Date: 6/17/2025 12:19:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sa_swd].[AcademicFields](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NULL,
 CONSTRAINT [PK_AcademicFields] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [sa_swd].[Campus]    Script Date: 6/17/2025 12:19:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sa_swd].[Campus](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Address] [nvarchar](300) NOT NULL,
	[ContactPhone] [nvarchar](20) NULL,
	[ContactEmail] [nvarchar](100) NULL,
 CONSTRAINT [PK_Campus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [sa_swd].[CampusAcademicFields]    Script Date: 6/17/2025 12:19:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sa_swd].[CampusAcademicFields](
	[CampusId] [uniqueidentifier] NOT NULL,
	[AcademicFieldId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_CampusAcademicFields] PRIMARY KEY CLUSTERED 
(
	[CampusId] ASC,
	[AcademicFieldId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [sa_swd].[Fees]    Script Date: 6/17/2025 12:19:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sa_swd].[Fees](
	[Id] [uniqueidentifier] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[AcademicYear] [nvarchar](20) NOT NULL,
	[StartSemester] [int] NOT NULL,
	[EndSemester] [int] NOT NULL,
	[CampusId] [uniqueidentifier] NOT NULL,
	[AcademicFieldId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Fees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [sa_swd].[Specializations]    Script Date: 6/17/2025 12:19:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sa_swd].[Specializations](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[CampusId] [uniqueidentifier] NOT NULL,
	[AcademicFieldId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Specializations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Specializations] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsActive]
GO
ALTER TABLE [dbo].[CampusAcademicFields]  WITH CHECK ADD  CONSTRAINT [FK_CampusAcademicFields_AcademicFields_AcademicFieldId] FOREIGN KEY([AcademicFieldId])
REFERENCES [dbo].[AcademicFields] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CampusAcademicFields] CHECK CONSTRAINT [FK_CampusAcademicFields_AcademicFields_AcademicFieldId]
GO
ALTER TABLE [dbo].[CampusAcademicFields]  WITH CHECK ADD  CONSTRAINT [FK_CampusAcademicFields_Campus_CampusId] FOREIGN KEY([CampusId])
REFERENCES [dbo].[Campus] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CampusAcademicFields] CHECK CONSTRAINT [FK_CampusAcademicFields_Campus_CampusId]
GO
ALTER TABLE [dbo].[SpecializationFees]  WITH CHECK ADD  CONSTRAINT [FK_SpecializationFees_Fees_FeeId] FOREIGN KEY([FeeId])
REFERENCES [dbo].[Fees] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SpecializationFees] CHECK CONSTRAINT [FK_SpecializationFees_Fees_FeeId]
GO
ALTER TABLE [dbo].[SpecializationFees]  WITH CHECK ADD  CONSTRAINT [FK_SpecializationFees_Specializations_SpecializationId] FOREIGN KEY([SpecializationId])
REFERENCES [dbo].[Specializations] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SpecializationFees] CHECK CONSTRAINT [FK_SpecializationFees_Specializations_SpecializationId]
GO
ALTER TABLE [dbo].[Specializations]  WITH CHECK ADD  CONSTRAINT [FK_Specializations_CampusAcademicFields_CampusAcademicFieldCampusId_CampusAcademicFieldAcademicFieldId] FOREIGN KEY([CampusAcademicFieldCampusId], [CampusAcademicFieldAcademicFieldId])
REFERENCES [dbo].[CampusAcademicFields] ([CampusId], [AcademicFieldId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Specializations] CHECK CONSTRAINT [FK_Specializations_CampusAcademicFields_CampusAcademicFieldCampusId_CampusAcademicFieldAcademicFieldId]
GO
ALTER TABLE [sa_swd].[CampusAcademicFields]  WITH CHECK ADD  CONSTRAINT [FK_CampusAcademicFields_AcademicFields_AcademicFieldId] FOREIGN KEY([AcademicFieldId])
REFERENCES [sa_swd].[AcademicFields] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [sa_swd].[CampusAcademicFields] CHECK CONSTRAINT [FK_CampusAcademicFields_AcademicFields_AcademicFieldId]
GO
ALTER TABLE [sa_swd].[CampusAcademicFields]  WITH CHECK ADD  CONSTRAINT [FK_CampusAcademicFields_Campus_CampusId] FOREIGN KEY([CampusId])
REFERENCES [sa_swd].[Campus] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [sa_swd].[CampusAcademicFields] CHECK CONSTRAINT [FK_CampusAcademicFields_Campus_CampusId]
GO
ALTER TABLE [sa_swd].[Fees]  WITH CHECK ADD  CONSTRAINT [FK_Fees_CampusAcademicFields_CampusId_AcademicFieldId] FOREIGN KEY([CampusId], [AcademicFieldId])
REFERENCES [sa_swd].[CampusAcademicFields] ([CampusId], [AcademicFieldId])
ON DELETE CASCADE
GO
ALTER TABLE [sa_swd].[Fees] CHECK CONSTRAINT [FK_Fees_CampusAcademicFields_CampusId_AcademicFieldId]
GO
ALTER TABLE [sa_swd].[Specializations]  WITH CHECK ADD  CONSTRAINT [FK_Specializations_CampusAcademicFields_CampusId_AcademicFieldId] FOREIGN KEY([CampusId], [AcademicFieldId])
REFERENCES [sa_swd].[CampusAcademicFields] ([CampusId], [AcademicFieldId])
ON DELETE CASCADE
GO
ALTER TABLE [sa_swd].[Specializations] CHECK CONSTRAINT [FK_Specializations_CampusAcademicFields_CampusId_AcademicFieldId]
GO
