USE [LeadServiceDB]
GO
/****** Object:  User [sa_swd]    Script Date: 6/17/2025 12:19:40 PM ******/
CREATE USER [sa_swd] FOR LOGIN [sa_swd] WITH DEFAULT_SCHEMA=[sa_swd]
GO
ALTER ROLE [db_owner] ADD MEMBER [sa_swd]
GO
/****** Object:  Schema [sa_swd]    Script Date: 6/17/2025 12:19:40 PM ******/
CREATE SCHEMA [sa_swd]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6/17/2025 12:19:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingHistories]    Script Date: 6/17/2025 12:19:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingHistories](
	[Id] [uniqueidentifier] NOT NULL,
	[Content] [nvarchar](1000) NOT NULL,
	[BookingId] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[NewValue] [nvarchar](max) NULL,
	[PerformedByUserId] [uniqueidentifier] NOT NULL,
	[PreviousValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_BookingHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 6/17/2025 12:19:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[Id] [uniqueidentifier] NOT NULL,
	[UserFullName] [nvarchar](100) NOT NULL,
	[UserEmail] [nvarchar](100) NOT NULL,
	[UserPhoneNumber] [nvarchar](20) NOT NULL,
	[InterestedCampus] [nvarchar](100) NULL,
	[InterestedAcademicField] [nvarchar](100) NULL,
	[InterestedSpecialization] [nvarchar](100) NULL,
	[InterestedCourse] [nvarchar](100) NULL,
	[Reason] [nvarchar](1000) NOT NULL,
	[Status] [nvarchar](450) NOT NULL,
	[ClaimedByConsultantId] [uniqueidentifier] NULL,
	[CreatedByUserId] [uniqueidentifier] NOT NULL,
	[ContactAttemptsCount] [int] NOT NULL,
	[ContactStatus] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[FirstContactAttempt] [datetime2](7) NULL,
	[LastContactAttempt] [datetime2](7) NULL,
	[ClaimedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Bookings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[BookingHistories] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BookingHistories] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [PerformedByUserId]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [CreatedByUserId]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((0)) FOR [ContactAttemptsCount]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (N'NoContact') FOR [ContactStatus]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [ClaimedAt]
GO
ALTER TABLE [dbo].[BookingHistories]  WITH CHECK ADD  CONSTRAINT [FK_BookingHistories_Bookings_BookingId] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookingHistories] CHECK CONSTRAINT [FK_BookingHistories_Bookings_BookingId]
GO
